h1 {font-family: 'PT Sans', sans-serif;}

h2 {font-family: 'PT Sans', sans-serif;}

h3 {font-family: 'PT Sans', sans-serif;}

h4 {font-family: 'PT Sans', sans-serif;}

p {font-family: 'PT Sans', sans-serif;}