.explore-header > .logo img{width: 225px; height: 40px;
    margin-top: -20px; margin-left: 5px;}

.explore-header > .create-login-signup > .serch-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color:#7B7E8B;
}

.main-body > .photo-reference > .photo img {
    height: 452px; width: 530px; margin-bottom: -4px;
}